.item1 {
    width: 50%;
    background-color:#48b4ef;
}

.item2 {
    width: 50%;
    background-color:#48b4ef;
}

.item3 {
    width: 50%;
    background-color:#48b4ef;
}

.item4 {
    width: 50%;
    background-color:#48b4ef;
}

